nav {
  position: fixed;
  width: 100%;
  z-index: $z-sticky-header;
  padding: 10px 10px 30px;
  margin: 5px 0;

  transition: 0.6s ease all;

  &.active {
    background: rgb(166, 203, 71);
    padding: 10px;
    margin: 0;
  }
}

.nav {

  &__container {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__spacer {
    min-height: 100px;
  }

  &__links {
    display: flex;

    > div {
      margin: 0 15px;
    }

    a {
      color : white;
      font-size : 1rem;
      font-weight: 600;
    }

  }

  &__logo {
    max-width: 250px;

    img {
      width: 100%;
    }
  }

}
