nav {
  position: fixed;
  width: 100%;
  z-index: $z-sticky-header;
}

.nav {

  &__container {
    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;

    &.active {
      background: rgb(166, 203, 71);
      border-radius: 50px;
    }

  }

  &__spacer {
    min-height: 100px;
  }

  &__links {
    display: flex;

    > div {
      margin: 0 15px;
    }

    a {
      color : white;
      font-size : 1rem;
      font-weight: 600;
    }

  }

  &__logo {
    max-width: 250px;

    img {
      width: 100%;
    }
  }

}
